<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<select id="loginMember" resultType="Member">
		select *
		from member
		where mem_email = #{mem_email}  and mem_pw = #{mem_pw} and mem_delete='N'
	</select>
	<resultMap type="Member" id="memberResultSet">
      <id column="MEM_NO" property="mem_no"/>
      <result column="MEM_EMAIL" property="mem_email"/>
      <result column="MEM_PW" property="mem_pw"/>
      <result column="MEM_NAME" property="mem_name"/>
      <result column="MEM_GENDER" property="mem_gender"/>
      <result column="MEM_BIRTH" property="mem_birth"/>
      <result column="MEM_TEL" property="mem_tel"/>
      <result column="MEM_ADDRESS" property="mem_address"/>
      <result column="MEM_REGDATE" property="mem_regdate"/>
      <result column="MEM_STATUS" property="mem_status"/>
      <result column="MEM_GRADE" property="mem_grade"/>
      <result column="MEM_INTEREST" property="mem_interest"/>
      <result column="MEM_LOGINDATE" property="mem_logindate"/>
      <result column="MEM_MONEY" property="mem_money"/>
      <result column="MEM_DELETE" property="mem_delete"/>
   </resultMap>
   
   <insert id="insertMember">
         insert into member
         values(SEQ_MEM_NO.NEXTVAL, #{mem_email}, #{mem_pw}, #{mem_name}, #{mem_gender}, #{mem_birth},#{mem_tel} , #{mem_address}, default , default, default,#{mem_interest}, sysdate, default, default)
   </insert>
   
	<select id="checkPwd" resultType="_int">
		select count(*) 
		from member 
		where mem_no=#{mem_no} and mem_pw=#{mem_pw}
	</select>
	
	<select id="check-email" resultType="_int">
		select count(*) 
		from member 
		where mem_email=#{mem_email}
	</select>
	
	<update id="leaveMember">
		update member
		set mem_delete='Y'
		where mem_no=#{no_leave} and mem_delete='N'
	</update>
	
	<update id="updateLoginDate">
		update member 
		set mem_logindate=sysdate
		where mem_no=#{mem_no}
	</update>
	
	<update id="updateMember">
		update member 
		set mem_pw=#{mem_pw} , mem_name=#{mem_name}
		, mem_birth=#{mem_birth} , mem_tel=#{mem_tel}
		, mem_address=#{mem_address} , mem_interest=#{mem_interest}
		where mem_no=#{mem_no}
	</update>
	
	<select id="getMoneyListCount" resultType="_int" >
		select count(*) 
		from history_money
		where mem_no=#{mem_no}
	</select>
	
	<select id="confirmMoney" resultType="Money">
		select * 
		from history_money
		where mem_no=#{mem_no}
		order by charge_date desc
	</select>
	
	<select id="getRegistedCard" resultType="Card">
		select * 
		from regist_card
		where card_status = 'Y'
		and mem_no=#{mem_no}
	</select>
	
	<update id="changeCard">
		update regist_card
		set card_status='N'
		where mem_no=#{mem_no} 
		and card_status='Y'
	</update>
	
	<insert id="insertNewCard">
		insert into regist_card
		values(seq_rc_no.nextval, #{card_no},#{card_company},#{card_expire},#{card_pwd},default,#{mem_no})
	</insert>
	
	<select id="matchCardInfo" resultType="_int">
		select count(*)
		from regist_card
		where mem_no=#{mem_no} and card_pwd=#{card_pwd} and card_status='Y'
	</select>
	
	<insert id="buyMoney">
		insert into history_money
		values(seq_hm_no.nextval, #{charge_money}, sysdate, #{charge_way}, #{mem_no} )
	</insert>
	
	<update id="updateMemberMoney">
		update member
		set mem_money=mem_money+#{charge_money}
		where mem_no=#{mem_no}
	</update>
	
	<select id="getRestMemberList" resultType="Member">
		<![CDATA[ 
		select * 
		from member
		where mem_logindate < sysdate-365 and mem_status='Y*'
		]]> 
	</select>
	
	<select id="getRestMemberListCount" resultType="_int">
	<![CDATA[ 
		select count(*)
		from member
		where mem_logindate < sysdate-365
	]]>
	</select>
	
	<select id="getSellList" resultType="Book">
		select b_no, sell_num, sell_date, sell_decide_date, sell_money, b_title
		from sell_data
		join book using(b_no)
		where mem_no=#{mem_no}
	</select>
	
	<select id="getSellListCount" resultType="_int">
		select count(*)
		from sell_data
		where mem_no=#{mem_no}
	</select>
	
	<update id="changeRestingMember">
		update member
		set mem_status = 'N'
		where mem_no in
		<foreach item="item" index="index" collection="array" 
				open="(" separator="," close=")">
			#{item}		
		</foreach>
	</update>
	
	<select id="getBuyList" resultType="Book">
		select b_no, b_title, b_price, buy_date "sell_date", change_name, file_path
		from buy_data b
		join basket using(basket_no)
		join book using(b_no)
		join image using (img_no)
		where b.mem_no=#{mem_no}
	</select>
	
	<select id="getBuyListCount" resultType="_int">
		select count(*)
		from buy_data b
		join basket using(basket_no)
		join book using(b_no)
		join image using (img_no)
		where b.mem_no=#{mem_no}
	</select>
	
	<select id="checkEmail" resultType="_int">
		select count(*)
		from member
		where mem_email=#{email} 
	</select>
	
	<select id="loginMemberWithKakao" resultType="Member">
		select *
		from member
		where mem_email = #{mem_email} and mem_delete='N'
	</select>
	
</mapper>
