@charset "UTF-8";
section{
	margin-top:70px !important;
}
#memberInfo_container{
	    margin-left: 250px;
	    color: #333;
	       
}

#container_title{
	font-size: 24px;
	font-weight: bold;
}
#memberInfo_table{
	margin-top:30px;
	border: 1px solid gray;
	border-collapse: collapse;
}

#memberInfo_table  input[type=text],
#memberInfo_table  input[type=password],
#memberInfo_table  input[type=tel],
#memberInfo_table  input[type=date]{
	width:270px;
	height: 25px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 6px 12px;
}

#memberInfo_table #mem_email:focus{
	outline: none;
}
#memberInfo_table #mem_email:hover{
	cursor: default;
}


#td_address  input:first-child{
	width: 150px !important;
}

#td_address button{
	border-radius: 5px;
    background-color: rgb(94, 107, 159);
     font-size: 16px;
     color: #ffffff;
     font-weight: bold;
     width: 100px; height: 38px;
     border: none;
     margin-left: 20px;
}
#memberInfo_table  td{
	border: 1px solid #cccccc;
	padding: 20px;
}

.td_first{
	background: #eaeaea;
	width:240px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}

#td_password input ,
#td_address input{
	margin-top: 10px;
}

#td_interest span{
	font-size:13px;
	font-weight: bold;
	
}
#td_interest input{
	margin: 15px 0px 0px 10px;
}
#update_btn{
	border-radius: 5px;
    background-color: rgb(94, 107, 159);
     font-size: 16px;
     color: #ffffff;
     font-weight: bold;
     width: 100px; height: 38px;
     border: none;
     margin:30px 0px 30px 35%;

}