@charset "UTF-8";
/* 헤더와 푸터 메인페이지를 위한 CSS파일 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Nanum Gothic';
	outline: none;
}

section{
	margin: 10px auto;
	width:1000px;
}
button{
	cursor: pointer;
}

#nav_container{
	background-color: rgb(94, 107, 159);
	border: none;
	border-radius: 0px;
	vertical-align: middle;
}
#nav_body{

    padding-top: 40px;
    width: 1000px;
    margin: 0px auto;
}
#a_brand{
	font-family: "Arial Black";
	font-weight: bold;
	font-size:33px;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

#div_search{
	width: 330px;
	height: 34px;
	background: #fff;
	display: inline-flex;
	position: absolute;
	margin-top: 9px;
	border-radius: 4px;
	margin-left: 6px;
}

#div_search img{
	margin: 4px;
	height: 25px;
}
#input_search{
	padding: 6px 8px;
	    width: 280px;
	background: #fff;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	vertical-align: super;
}

#input_search:focus{
	outline: none;
}
#div_head_btns{
	display: inline;
	margin-left: 600px ;
}
.btn_head{
	vertical-align: inherit;
 	background-color: rgb(60, 68, 101);
 	color:white;
 	border: none;
 	border-radius: 5px;
 	font-weight: bold;
 	font-size: 14px;
 	width: 90px;
 	height: 35px;	
}
.btn_head:hover{
	cursor: pointer;
}

#nav_menu{
	height: 40px;
	background-color: #ffffff;
	margin-top: 43px;
	border-bottom: 1px solid #e6e6e6;
}
#menu_ul{
	width:1000px;
	margin: 0 auto;
}
#menu_ul > li{
	list-style: none;
	float: left;
	margin: 8px 30px 0px 30px;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}
#menu_ul > li:hover{
	cursor: pointer;
}

#menu_li{
	background-image: url("../images/menu-symbol.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 28px;
	height: 26px;
	margin: 7px 0px !important;
}

#service_li ul{
	display: none;
	    list-style: none;
    position: absolute;
    background: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 9px;  
}
#service_li li{
	padding:10px 15px 10px 15px;	
	font-size: 15px;
}

#service_li li:hover{
	background:  #e6e6ff;
}

#footer_container{
	background-color: rgb(48, 53, 56);
	height:150px;
	color: #ffffff;
	font-size:13px;
}	
#footer_container > div{
	margin: 0 auto;
	padding-top: 50px;
	width:1000px;
	
}

#footer_container > div >span {
	padding: 10px;
}

.clear{
	clear: both;
}

/* errorPage*/
#errorDiv{
	text-align: center;
    margin: auto auto;
    padding: 200px 0px;
    line-height: 3em;
    font-size: 23px;
    font-weight: bold;
}
#errorDiv button{
	vertical-align: inherit;
 	background-color: rgb(60, 68, 101);
 	color:white;
 	border: none;
 	border-radius: 5px;
 	font-weight: bold;
 	font-size: 14px;
 	width: 90px;
 	height: 35px;
 	
}
#searchResultDiv_head{
		background-color: #ffffff;
	    position: absolute;
	    margin-top: 35px;
	    width: 330px;
	    text-align: left;
	    border: 1px solid #cccccc;
	    display: none;
	    font-size: 13px;
	    
	}
	.searchResult_head{
		padding: 7px 10px;
	}
	.searchResult_head:hover{
		background-color: #87CEFA;
		cursor: pointer;
	}
