@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{
	margin:0;
	padding:0;
	font-family: 'Nanum Gothic';
}
.pay_div{
	width: 570px;
	height:  600px;
	background-color: rgb(224, 224, 224);
	position: relative;
}

.pay_title_div{
	    background-color: rgb(94, 107, 159);
	    color:#ffffff;
	    height: 65px;
	    line-height: 4em;
}

.pay_title_div span{
	font-weight: bold;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.pay_title_div span:first-child {
	margin-left: 20px;
	 font-family: "Arial Black";
}

.pay_title_div span:nth-child(2){
	margin-left: 100px;;
	font-size: 19px;
}

.pay_info_div{
	background-color: #ffffff;
	width: 510px;
	height: 130px;
	 margin: 40px auto 0px auto;
	font-size: 13px; 
	 line-height: 2.5em;
}
.pay_info_div span{
	margin-left: 20px;
}

.pay_card_div{
	background-color: #ffffff;
	width: 470px;
	height: 70px;
     margin: 30px auto 0px auto;
	 padding: 20px 20px;
	 text-align: center;
}
.pay_card_div input{
	margin-bottom:30px
}

.pay_card_div div{
	display: inline;
	margin: 0 10px;
	cursor: pointer;
	
}
.pay_check_div{
	font-size: 15px;
    position: absolute;
    bottom: 0px;
}
.pay_check_div input {
	margin: 50px 10px 20px 20px;
}
.pay_check_div div{
	display: inline;
	cursor: pointer;
}

.pay_check_div button{
	 background-color: rgb(94, 107, 159);
	    color:#ffffff;
	    text-align: center;
	    border: none;
	    width:570px;
	    height: 45px;
	    font-size: 19px;
	    cursor: pointer;
}

/* /////////////////////////////////////////////////// */
.pay_cardinfo_div{
	margin: 0 auto;
	width: 480px;
}
.pay_cardinfo_div table{
	margin-top: 30px;
	 border-collapse: collapse;
 	height: 190px;
}
.pay_cardinfo_div table td{
	border: 1px solid #ccc;
}

.pay_cardinfo_div td:first-child {
	background: #eaeaea;
	font-weight: bold;
	width: 125px;
	height: 50px;
	text-align: center;
}

.pay_cardinfo_div td:nth-child(2){
	background: #ffffff;
	width: 350px;
	padding-left:5px;
} 

.pay_cardinfo_div input{
	width: 48px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0px 3px;
}

#card_pwd_tr td:nth-child(2) input {
	width: 70px;
}

#reg_no_tr td:nth-child(2) input {
	width: 140px;
}

/* ////////////////////////////////////////////// */
.pay_complete_div{
	margin: 30px auto 0 auto;
	width: 390px;
	height: 140px;
	text-align:center;
	font-weight: bold;
	font-size: 20px;
	background-color: #ffffff;
	    line-height: 6.5em;

}

/* ///////////////////////////////////////////// */
.pay_deposit_div{
	background-color: #ffffff;
	width: 510px;
	height: 230px;
	 margin: 40px auto 0px auto;
	font-size: 13px; 
}

.pay_deposit_div p{
	line-height: 2.3em;
	margin-left: 20px;
}

.pay_deposit_div p:nth-child(2) {
	margin-top:50px;
	line-height: normal !important;	
}

#pay_div2, #pay_div3{
	display: none;
}
