<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.libreria.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.libreria.member.model.vo.Money" alias="Money"/>
		<typeAlias type="com.kh.libreria.member.model.vo.Card" alias="Card"/>
		<typeAlias type="com.kh.libreria.book.model.vo.Book" alias="Book"/>
		<typeAlias type="com.kh.libreria.book.model.vo.BookFrameCategory" alias="BFC"/>
		<typeAlias type="com.kh.libreria.book.model.vo.BookSubCategory" alias="BSC"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/book-mapper.xml"/>
		<mapper resource="mapper/member-mapper.xml" />
	</mappers>

</configuration>
