<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.libreria.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.libreria.member.model.vo.Money" alias="Money"/>
		<typeAlias type="com.kh.libreria.member.model.vo.Card" alias="Card"/>
		<!-- HY - 객체 -->
		<!-- Book -->
		<typeAlias type="com.kh.libreria.book.model.vo.Book" alias="Book"/>
		<typeAlias type="com.kh.libreria.book.model.vo.BookFrameCategory" alias="BFC"/>
		<typeAlias type="com.kh.libreria.book.model.vo.BookSubCategory" alias="BSC"/>
		<typeAlias type="com.kh.libreria.book.model.vo.BookWriter" alias="BookWriter"/>
		<!-- Image -->
		<typeAlias type="com.kh.libreria.image.model.vo.Image" alias="Image"/>
		<typeAlias type="com.kh.libreria.image.model.vo.ImageCategory" alias="ImageCategory"/>
		<!-- HY 끝  -->
		
		<!-- MJ 객체 -->
		<typeAlias type="com.kh.libreria.board.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.libreria.board.vo.BoardCategory" alias="BCG"/>
		<typeAlias type="com.kh.libreria.board.vo.BoardIMG" alias="BIMG"/>
		<!-- MJ 끝 -->
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/book-mapper.xml"/>
		<mapper resource="mapper/member-mapper.xml" />
		<mapper resource="mapper/board-mapper.xml"/>
	</mappers>

</configuration>
